@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
html, body{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #ffffff;
    min-width:min-content;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}
/*Header*/
.header{
    height: 750px;
    background-color: #000000;
    border-radius: 54px 54px 54px 54px;
    color: #F6014A;   
}
.header a{
    color: #F6014A;
}
.nav{
    display: flex;
    align-items: center;
}
.go{
    color: #ffc0cb;
    top: 15px;
    left: 10%;
    position: relative;
    display: flex;  
}
.logo{
    color: #ffc0cb;
    top: 15px;
    left: 45%;
    position: relative;
    display: flex;
}
.nav-list{
    top: 15px;
    left: 28%;
    position: relative;
    display: flex;
    column-gap: 54px;
}
.header-title{
    position: absolute;
    top:30%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 64px;
}
.HEADER-TITLE{
    position: absolute;
    top:40%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.photo{
    width:50% ;
    height: 50%;
    position: relative;
    top: 48%;
    left: 28%;
}
.container_2{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}
.main{
    height: 1800px;
    border-radius: 54px 54px 54px 54px;
    background: linear-gradient(to bottom, #ffffff, #ffc0cb, #ffa07a);
    color: #F6014A;
}
.notes-container h1{
    transform: translate(-50%, -50%);
    font-size: 45px;
    top: 2200px;
    left: 53%;
    position: absolute;
}
.notes-container a{
    position: relative;
    font-size: 20px;
    background: #fff;
    border-radius: 5px;
    top: 820px;
    left: 48%;
}

.photo_2{
    width:50% ;
    height: 50%;
    position: relative;
    top: 200px;
    left: 28%;
}
.TEXT{
    position: absolute;
    top:115%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-size: 56px;
}





.music{
    position: absolute;
    top: 250%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr; /* Вертикальное расположение */
    align-items: center;     /* Центрирование */
    gap: 60px; 


}
.song{
    position: absolute;
    transform: translate(-50%, -50%);
    left:53%;
    top: 220%;
    font-size: 30px;
    color: white;
}
.p{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 243%;
    left:53% ;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Вертикальное расположение */
    align-items: center;     /* Центрирование */
    gap: 80px; 
    column-gap: 200px;
}
.audio-player {

    height: 50px;
    width: 350px;
    background: #444;
    box-shadow: 0 0 20px 0 #000a;

    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;

    display: grid;
    grid-template-rows: 6px auto;
    .timeline {
        background: white;
        width: 100%;
        position: relative;
        cursor: pointer;
        box-shadow: 0 2px 10px 0 #0008;
        .progress {
            background: coral;
            width: 0%;
            height: 100%;
            transition: 0.25s;
        }
    }
}
.footer{
    height: 150px;
    border-radius: 20px 20px 0 0;
    color: #b1afaf; 
}
.tel{
    position: absolute;
    left:52% ;
}
.pochta{
    top: 2650px; ;
    left: 45%;
    position: absolute;

}
